<footer class="bg-dark text-white pt-5 pb-3 mt-5" style="width: 100vw; margin-left: calc(50% - 50vw);">
  <div class="container">
    <div class="row">
      <div class="col-md-3"><h6>Get to Know Us</h6><ul class="list-unstyled small"><li>About Us</li><li>Careers</li></ul></div>
      <div class="col-md-3"><h6>Connect with Us</h6><ul class="list-unstyled small"><li>Facebook</li><li>Twitter</li></ul></div>
      <div class="col-md-3"><h6>Make Money with Us</h6><ul class="list-unstyled small"><li>Sell on Amazon</li><li>Become an Affiliate</li></ul></div>
      <div class="col-md-3"><h6>Let Us Help You</h6><ul class="list-unstyled small"><li>Your Account</li><li>Returns Centre</li></ul></div>
    </div>
    <div class="text-center mt-4 small">&copy; 2025 Amazon Clone Demo</div>
  </div>
</footer>
