<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  <a class="navbar-brand" href="#">
    <img [src]="amazonLogo" style="height:36px;">
  </a>
  <span class="text-white ms-3">Delivering to Surat 394210</span>
  <form class="d-flex ms-4 flex-grow-1 me-4">
    <input class="form-control me-2" type="search" placeholder="Search Amazon.in">
    <button class="btn btn-warning" type="submit"><i class="bi bi-search"></i></button>
  </form>
  <span class="text-white me-3">EN</span>
  <span class="text-white me-3">Hello, sign in<br>Account & Lists</span>
  <span class="text-white me-3">Returns<br>& Orders</span>
  <a href="#" class="text-white"><i class="bi bi-cart"></i> Cart</a>
</nav>
