<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  <a class="navbar-brand" href="#">
    <img [src]="amazonLogo" style="height:36px;">
  </a>
  <span class="text-white ms-3">Delivering to Surat 394210</span>
  <form class="d-flex ms-4 flex-grow-1 me-4">
    <input class="form-control me-2" type="search" placeholder="Search Amazon.in">
    <button class="btn btn-warning" type="submit"><i class="bi bi-search"></i></button>
  </form>
  <span class="text-white me-3">EN</span>
  <a [routerLink]="['/login']" class="text-white me-3">Sign In</a>
  <a [routerLink]="['/register']" class="text-white me-3">Register</a>
  <a [routerLink]="['/orders']" class="text-white me-3">Orders</a>
  <a [routerLink]="['/cart']" class="text-white me-3"><i class="bi bi-cart"></i> Cart</a>
  <a *ngIf="isAdmin" [routerLink]="['/admin']" class="text-white">Admin</a>
</nav>
