<div class="container-fluid bg-light py-5">
  <div class="row align-items-center">
    <div class="col-md-3 text-center">
      <img [src]="imagurl" alt="Subscribe & Save" class="img-fluid" style="max-height:120px;">
    </div>
    <div class="col-md-6">
      <h3>Subscribe & Save</h3>
      <p class="mb-1">You do not have any active subscriptions. With Subscribe & Save, you can schedule auto-deliveries and never run out of your favourite items.</p>
      <ul>
        <li>Save up to 10% on your entire order</li>
        <li>Enjoy free shipping on each subscription</li>
        <li>Cancel anytime</li>
      </ul>
      <button class="btn btn-warning">Shop the Subscribe & Save store</button>
    </div>
  </div>
</div>
