<nav class="navbar navbar-expand-sm navbar-dark bg-dark px-3">
  <div class="navbar-nav">
    <a class="nav-link" href="#">All</a>
    <a class="nav-link" href="#">Amazon mini TV</a>
    <a class="nav-link" href="#">Sell</a>
    <a class="nav-link" href="#">Best Sellers</a>
    <a class="nav-link" href="#">Today's Deals</a>
    <a class="nav-link" href="#">Mobiles</a>
    <a class="nav-link" href="#">Customer Service</a>
    <a class="nav-link" href="#">Prime</a>
    <a class="nav-link" href="#">Electronics</a>
    <a class="nav-link" href="#">Fashion</a>
    <a class="nav-link" href="#">Home & Kitchen</a>
    <a class="nav-link" href="#">Amazon Pay</a>
  </div>
</nav>
